


.open{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
header{
 background-color:#FFF8F3;
 margin: 0px;
 padding: 0px;
 background-image: url('./images/developer.png'),url('./images/header_bg.png');
 background-repeat: no-repeat;
 background-position: top left, bottom right;

}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 200px;
}
.name{
display: flex;
justify-content: start;
  font-weight:800px;
  font-size: 45px;
}
.name span{
  color: #FD6E0A;
}
.links{
 color: #474747;

}
li{
  list-style: none;
}

ul{
 display: flex;
 align-items: center;


}
ul a{
  text-decoration: none;
  color:#474747 ;
  font-size: 20px;
   margin: 51px;
}
.navbutton{
  color: white;
  font-weight: bold;
  font-size: 20px;
  background-color: #FD6E0A;
  border-radius: 5px;
  padding: 18px 20px;
  border: none;
}
/* information section */
.personinfo{
  display: flex;

}
.text1{
  font-size: 45px;
font-weight: 600px;
color:#474747 ;
margin-bottom: 0px;
}
.text2{
margin: 0px;
  font-size: 85px;
  font-weight: bold;
}
text3{
  font-size: 18px;
  color:#757575;
}
.buttonts{
  display: flex;
  flex-direction: row;
  gap: 30px;

}
.button1{
  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 10px ;
   padding: 5px 20px;
   background-color: #FD6E0A;
   color: white;
   border: none;
   border-radius: 5px;
}
.button2{
  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 10px ;
   padding: 5px 20px;
   border: 2px solid #FD6E0A;
   
   background-color: transparent;
   color: #FD6E0A;
   border-radius: 5px;
}
.textinfo{
  margin-left: 200px;
}
/* about section */
main{
  max-width: 1140px;
  margin: 0 auto;
}

.bg{

 

}

.about{
 background-color: #FFF8F3;
margin:150px;
  text-align: center;
padding: 80px;
 
}
.aboutinfo{
  margin: 5px;
  display: flex;
  justify-content: space-between;
}
.aboutp{
  color: #757575;
  size: 18px;
}